<h3>Tareas pendientes</h3>
<ul class="tasks">
    @for(task of toDoList; track task.id) {
        <app-task-list-item 
            [task]="task"
            (click)="onChange(task)">
        </app-task-list-item>   
    }
</ul>
<h3>Tareas Completadas</h3>
<ul class="tasks">
    @for(task of doneList; track task.id) {
        <app-task-list-item 
            [task]="task"
            (click)="onChange(task)">
        </app-task-list-item>
    }
</ul>
<app-task-details 
    [task]="selectedTask" 
    (complete)="toComplete($event)"
    (delete)="toDelete($event)"
    ></app-task-details>